<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
    <script src="https://usetrmnl.com/js/latest/plugins.js"></script>
  </head>
  <body class="environment trmnl">
    <div class="screen">
      <div class="layout layout--col gap--medium">
        <div class="columns">
          <div class="column flex flex--col gap--medium">
            <div class="item item--emphasis-2">
              <div class="content">
                <span class="title">Sarah is {{ age }}</span>
              </div>
            </div>

            <div class="divider"></div>

            <div class="markdown">
              <div class="content content--left">{{ summary }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
